html {
  height: 100%;
  display: table;
  margin: auto;
}
body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background: #f1f1f1;
  font-family: 'Poiret One', cursive;
}

.holder
{
  margin: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
}

.shadow
{
    box-shadow: 0 1px 30px rgba(0,0,0,0.22);

}

.audio-player {
  position: relative;
  border: 1px solid #dfdfdf;
  width: 50vw;
  margin: 2rem auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.32);
    background: #fff;
    padding: 3rem 2rem;
    height: auto;
}
.audio-player .user_avatar
{
  width: 30%;
  display: none;
  justify-content: space-around;
  margin:0 auto;
}
.audio-player .user_avatar img
{
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  padding: 0.65em;
  object-fit: cover;
  border-radius: 50%;
  border:2px solid #dfdfdf;
  background: #fff;
  margin-top: -5em;
}
#dur:hover
{
  cursor: pointer;
}
.audio-player .cover img
{
    height: 200px;
    width: 200px;
    object-fit: cover;

}
.audio-player .title
{
  padding: 0;
  margin-top: 2.5rem;
  font-weight: 800;
  font-size: 28px;
}

.audio-player .like
{
  padding: 6px 17px;
  background: #fff;
  font-size: 16px;
  color: #555;
  margin: 1rem 0;
  font-weight: 900;
  text-decoration: none;
  position: relative;
}

.audio-player .player-controls {
  align-items: center;
  justify-content: center;
  flex: 4;
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
}
.audio-player .player-controls p 
{
  color: #000;
}
.progress_bar
{
/*  border:2px solid #363732;
*/  width: 100%;
}
.range {
  -webkit-appearance: none;
  background: linear-gradient(to right,
    #ddd 0%, #ddd 50%,
);
  cursor: pointer;
  height: 10px;
  margin: 0;
  transitionx: 0.1s ease-in;
  vertical-align: bottom;
  width: 100%;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #aeaeae;
  border-radius: 6px;
  box-shadow: inset 0 0 0 19px #eaeaea;
  height: 0;
  transitionx: 0.1s ease-in;
  width: 0;
}

.range:focus
{
  outline: none;
}
.audio-player #play-btn,
.ctrl_btn {
  margin: 0 1rem 2rem 0;
  border:2px solid #363732;
  border-radius: 50%;
  color: #363732;
}
.audio-player #play-btn
{
  padding:1rem 1.2rem;
    font-size: 24px;
}
.audio-player .ctrl_btn
{
  padding: 0.55em 0.75em;
    font-size: 22px;

}
.audio-player #play-btn:hover
{
  cursor: pointer;
}

.audio-player .volumeControl {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.audio-player .volumeControl .wrapper {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #363732;
}

.audio-player .volumeControl .wrapper:hover i.fa {
  color: #363732;
}
.audio-player .volumeControl .outer {
  border-radius: 2px;
  border: 2px inset #363732;
  background-color: #fff;
  overflow: hidden;
  height: 0.3rem;
  flex-basis: 80%;
  margin-left: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.audio-player .volumeControl .outer .inner {
  background-color: #363732;
  width: 100%;
  display: inline-block;
  height: 100%;
}
.audio-player .volumeControl .outer:hover {
  cursor: pointer;
}
.start-time,
.end-time
{
  font-size: 14px;
  font-weight: 800;
  font-family: 'Darker Grotesque', sans-serif;
  transition: 1s ease-in-out;
  line-height: 0;
}

.start-time
{
  float: left; 
  position: relative; 
  left: 0;
}
.end-time
{
  float: right; 
  position: relative; 
  right: 0;
}


.ctrl,
.action
{
  display: flex;
  justify-content: space-between;
}

.action
{
    margin: 1rem auto;

}
.action span
{
  font-size: 14px;
    font-family: 'Darker Grotesque', sans-serif;

}

@media screen and (max-width: 758px) {
  .holder 
  {
    display: block;
    justify-content: all;
    align-items: all;
  }

  .audio-player 
    {
      width: 70%;
      padding: 2rem 1rem;
    }
  .audio-player .cover img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;

}
.audio-player .player-controls {
  position: relative;
  padding: 0 0;
  margin: 0 auto;
}
.audio-player .title
{
  text-align: center;
}
.start-time
{
  left: 0.85em;
}
.end-time
{
  right: 1em;
}
.ctrl,
.action
{
  display: block;
}
}
