html {
  height: 100%;
  display: table;
  margin: auto;
}
body {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background: #f1f1f1;
  font-family: 'Poiret One', cursive;
}

.holder
{
  margin: 4rem 0 1rem 0;
    text-align: center;
  display: flex;
  align-items: center;
}

.audio-player {
  position: relative;
  border: 1px solid #dfdfdf;
  width: 50vw;
  margin: 0 auto;
  left: 0;
    box-shadow: 0 10px 30px rgba(0,0,0,0.32);
    padding: 0 2rem;
}
.audio-player .cover img
{
    height: 200px;
    width: 200px;
    object-fit: cover;

}


.audio-player .subscribe
{
  padding: 6px 17px;
  background: #fff;
  color: #555;
  font-weight: 900;
  box-shadow: 0 10px 30px rgba(0,0,0,0.32);
  text-decoration: none;
}

.audio-player .player-controls {
  align-items: center;
  justify-content: center;
  flex: 4;
  position: relative;
  margin: 0 auto;
}
.audio-player .player-controls p 
{
  color: #000;
}

.audio-player .player-controls progress {
  width: 100%;
  margin: 0 15px;

}
.audio-player .player-controls progress:hover
{
  cursor: pointer;
}
.audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #666666;
  height: 100px;
}
.audio-player .player-controls progress[value]::-webkit-progress-bar {
  background-color: #666666;
  border-radius: 5px;
  border: 1px solid #666666;
    color: #666666;
}
.audio-player .player-controls progress::-webkit-progress-value {
  background-color: white;
  border: 1px solid #fff;
  border-radius: 5px;
}
.audio-player .player-controls p {
  font-size: 1.6rem;
}
.audio-player #play-btn {
  background-image: url('../assets/play-button.svg');
  background-size: cover;
  width: 60px;
  height: 60px;
  margin: 0 0 2rem 0;
}
.audio-player #play-btn.pause {
  background-image: url('../assets/pause-round-button.svg');
}
.audio-player #play-btn:hover
{
  cursor: pointer;
}

.audio-player .volumeControl {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.audio-player .volumeControl .wrapper {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #000;
}
.audio-player .volumeControl .wrapper:hover i.fa {
  color: #000;
}
.audio-player .volumeControl .outer {
  border-radius: 5px;
  border: 2px inset #363732;
  background-color: #000;
  overflow: hidden;
  height: 0.5rem;
  flex-basis: 80%;
  margin-left: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.audio-player .volumeControl .outer .inner {
  background-color: #fff;
  width: 100%;
  display: inline-block;
  height: 100%;
}
.audio-player .volumeControl .outer:hover {
  cursor: pointer;
}
.start-time,
.end-time
{
  font-size: 14px;
  font-weight: 800;
  font-family: 'Darker Grotesque', sans-serif;
  transition: 1s ease-in-out;
}

.start-time
{
  float: left; 
  position: relative; 
  left: 1em;
}
.end-time
{
  float: right; 
  position: relative; 
  right: 0;
}


.ctrl,
.action
{
  display: flex;
  justify-content: space-between;
}
.action span
{
  font-size: 14px;
    font-family: 'Darker Grotesque', sans-serif;

}

@media screen and (max-width: 758px) {
  .audio-player 
    {
      width: 100%;
    }
  .audio-player .cover img
{
    height: 60px;
    width: 60px;
    object-fit: cover;

}
.audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #666666;
  height: 50px;
}
.audio-player #play-btn {
  width: 30px;
  height: 30px;
}
.start-time
{
  left: 0.85em;
}
.end-time
{
  right: 1em;
}
}
